.fortune {
    background: linear-gradient(to bottom,  #F9E79F, #AED6F1);
    box-shadow: 5px 5px peachpuff;
}

h1 {
    color: palevioletred;
    text-shadow: 2px 2px 2px rgb(248, 158, 158);
}
li {
    color: chartreuse;
} 

ul > li {
    color: blue;
}

ul li {
    color: pink;
}

ol li {
    color: black;
}